
-if current_admin
  %h1 Set us up the booth
  .button= link_to('view all contacts', { controller: 'contacts', action: 'index' })
  .button= link_to('start new game', { controller: 'games', action: 'new' })
  = render 'devise/links'
-else
  %h1 Welcome to NIRDgossip!
  .button= link_to('join the game', { controller: 'contacts', action: 'new' })
  -if @game
    .button= link_to('see the current game', game_path(@game))
  -else
    %p We don't have a game running currently. Catch us at the next con!