.row.main
  -if current_admin
    %header.col-xs-12
      %h1 Set us up the booth
    = link_to({ controller: 'contacts', action: 'index' }) do
      .btn.btn-primary.col-xs-12 view all contacts
    .col-xs-12.gutter
    = link_to({ controller: 'games', action: 'new' }) do
      .btn.btn-primary.col-xs-12 start new game
    -if @game
      .col-xs-12.gutter
      = link_to(game_path(@game)) do
        .btn.btn-primary.col-xs-12 current game
    .col-xs-12.gutter
    = render 'devise/links'
  -else
    %header.col-xs-12
      %h1 Welcome to NIRDgossip!
    -if @game
      = link_to({ controller: 'contacts', action: 'new' }) do
        .btn.btn-primary.col-xs-12 join the game
      -if @game
        .col-xs-12.gutter
        = link_to(game_path(@game)) do
          .btn.btn-primary.col-xs-12 current game
    -else
      %p We don't have a game running currently. Catch us at the next con!
