.row.main
  %header.col-xs-12
    %h1 Game over man!
    %p= "##{@game.hash_tag}"
  .leaderboard.col-xs-12
    -if @winners
      %h2 Drawing winners
      %ul
        -@winners.each do |w|
          %li= "#{w.name} (#{w.twitter_handle})"
      %h2 Most Retweeted
      -unless @most_retweeted.empty?
        %ul
          -@most_retweeted.each do |mrt|
            %li= "#{mrt[:contact].twitter_handle} (#{mrt[:retweet_count]})"
      -else
        %p It looks like no was retweeted.
    -else
      %br
      %p It looks like nobody played!
  .btn.btn-primary.col-xs-12
    = link_to('start new game', { controller: 'games', action: 'new' })
