.row.main
  %header.col-xs-12
    %h1 Start a new game
    .col-xs-12.gutter
  .col-xs-0.col-sm-2
  .form.col-xs-12.col-sm-8
    = form_for @game do |f|
      .col-xs-12
        = f.label :twitter_handle
        = f.text_field :twitter_handle
      %br
      .col-xs-12.gutter
      .col-xs-12
        = f.label :hash_tag
        = f.text_field :hash_tag
      %br
      .col-xs-12.gutter
      .col-xs-12
        = f.label :campaign
        = f.text_field :campaign
      %br
      .col-xs-12.gutter
      .col-xs-12
        = f.submit(class: 'btn btn-primary')