.row.main
  %header.col-xs-12
    %h1 The Game Is On!
    %p= "Tweet ##{@game.hash_tag} @#{@game.twitter_handle} for a chance to win!"
    .row
      .col-xs-3
      .btn.btn-primary.col-xs-6= link_to('join the game', { controller: 'contacts', action: 'new' })
      .col-xs-3
  %leaderboard.col-xs-12
    %h2 Most Retweeted
    %ul
      -@most_retweeted.each do |c|
        %li= c.twitter_handle

  %contestants.col-xs-5
    %h2 Who's Playing
    %ul
      -@contacts.each do |c|
        %li= c.twitter_handle
  .col-xs-1
  %prizes.col-xs-6

  %controls.col-xs-12
    -if current_admin
      .row
        .col-xs-12.gutter
        .btn.btn-primary.col-xs-12= link_to('update scores', update_scores_path(id: @game.id), method: :post)
        .col-xs-12.gutter
        .btn.btn-primary.col-xs-12= link_to('draw a winner', draw_winner_path(id: @game.id))
        .col-xs-12.gutter
        .btn.btn-primary.col-xs-12= link_to('end game', end_game_path(id: @game.id))
        .col-xs-12.gutter
        = render 'devise/links'