.form.col-xs-12.col-sm-8
  = form_for @prize do |f|
    .col-xs-12
      = f.label :image_url
      = f.text_field :image_url, :placeholder => "max 255 characters"
    %br
    .col-xs-12.gutter
    .col-xs-12
      = f.label :description
      = f.text_field :description, :placeholder => "max 255 characters"
    %br
    -if @game
      = f.hidden_field :game_id, value: @game.id
    -else
      .col-xs-12.gutter
      .col-xs-12
        = f.label :game_id
        = f.text_field :game_id
      %br
    .col-xs-12.gutter
    .col-xs-12
      = f.submit(class: 'btn btn-primary')