.row.main
  %header.col-xs-12
    %h1 Edit prize
    %p= "For the ##{@game.hash_tag} game."
    .col-xs-12.gutter
  .col-xs-0.col-sm-2
  =render 'form'
  .col-xs-12.gutter
  = link_to(prize_path(id: @prize.id), method: :delete) do
    .btn.btn-primary.col-xs-12 delete
  .col-xs-12.gutter
  = link_to(game_path(@game)) do
    .btn.btn-primary.col-xs-12 go to game
  .col-xs-12.gutter
  = link_to(prizes_path) do
    .btn.btn-primary.col-xs-12 view prizes
